################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/truespectsistema/v15/Server/sqlite3/storage.ide-wal
/.vs
/truespectsistema/obj/Release
